.home {
    text-align: center;
}

.favorite {
    color: #f2f2f2;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}