.search-btn {
    float:right; 
    margin:0; 
    height:36px; 
    width:250px; 
    background:#ff11778a; 
    border-radius:5px
}

#search {
    margin:0; 
    height:36px; 
    width:250px; 
    border-radius:5px;
}

#form {
    float:right;
}